[submodule "Ruleset/parser"]
	path = Ruleset/parser
	url = https://github.com/SukkaW/nodelistparser.git
[submodule "Ruleset/chnroutes"]
	path = Ruleset/chnroutes
	url = https://github.com/SukkaW/chnroutes2-optimized.git
[submodule "Ruleset/ruleset"]
	path = Ruleset/ruleset
	url = https://github.com/SukkaW/Surge.git
[submodule "BrightIntosh"]
	path = BrightIntosh
	url = https://github.com/niklasr22/BrightIntosh.git
	branch = main
[submodule "sing-box/clients/apple"]
	path = sing-box/clients/apple
	url = https://github.com/SagerNet/sing-box-for-apple.git
	branch = dev
[submodule "sing-box/clients/android"]
	path = sing-box/clients/android
	url = https://github.com/SagerNet/sing-box-for-android.git
	branch = dev
[submodule "Ruleset/srsc"]
	path = Ruleset/srsc
	url = https://github.com/sonqyau/sing-rule.git
